@media screen and (max-width: 700px) {
    .only-mobile {
        display: block;
    }

    body {
        font-size: 13px;
    }

    .main-menu {
        height: 100vh !important;
        display: none;
    }

    .expanded {
        display: block !important;
        width: 330px;
        overflow: visible;
        overflow-y: auto;
    }

    #showNavbar {
        padding: 0;
        margin-top: 10px;
        padding: 3px 5px 5px 10px;
        width: 48px;
        height: 40px;
        position: fixed;
        color: #434343;
        background: #fbfbfb;
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;   
        top: 0;
        border-bottom-right-radius: 3px;
    }

    #showNavbar::before {
        width: 42px ;
        height: 42px;
        font-family: FontAwesome;
        content: "\f0c9";
        font-size: 2rem;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .console-area,
    textarea {
        font-size: .7rem !important;
    }

    .container {
        width: 100%
    }

    #myProgress {
        margin: 15px 10px 0 50px;
        background-color: #f44336;
        border-radius: 30px;
        box-shadow: 0 0 20px #434343 inset;
    }

    button.comando {
        font-size: .7rem !important;
    }

    #repository {
        font-size: .8rem !important;
    }

    #repository .header .title {
        width: 80%;
    }

    #repository .header .buttons {
        width: 20%;
        padding: 6px;
    }

    #repository .repo-status {
        display: flex;
        flex-direction: column;
    }

    #repository .repo-status .staged,
    #repository .repo-status .repo-folder,
    #repository .repo-status .commits {
        width: 100%;
        min-height: 100px;
    }

    #repository .repo-status .repo-folder {
        border-bottom-left-radius: 0;
    }

    #repository .repo-status .commits {
        border-bottom-left-radius: 3px;
    }

    li.folder:active {
        background-color: transparent;
    }
}