/* =================================
    GENERALES
=================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    width: 100vw !important;
}

body {
    opacity: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    transition: opacity 1s;
}

main {
    flex: 1;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

#area-practica {
    display: flex;
    flex-direction: column;
}

.hidden {
    opacity: 0;
}

h1 {
    text-align: center;
}

/* =================================
    PROGRESS BAR
=================================== */

#myProgress {
    width: 80% !important;
    background-color: #f44336;
    border-radius: 30px;
    box-shadow: 0 0 20px #434343 inset;
}
#myBar {
    width: 0%;
    height: 20px;
    background-color: #1976D2;
    margin: 10px 0 5px 0;
    border-radius: 30px;
}

/* =================================
    AREA DE INSTRUCCIONES
=================================== */

#leccion > div {
    padding: 10px;
}

#instrucciones > h3 {
    padding: 5px 0;
}

.tareas > p {
    padding: 8px 0;
}

#instrucciones button.comando {
    outline: none;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: .9rem;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    background-color: #1976D2;
    color: #eee;
}

#instrucciones button.comando::before {
    font-family: FontAwesome;
    content: '\f120';
    margin-right: 15px;
}

#instrucciones button.comando:hover {
    opacity: .9;
    cursor: pointer;
}

#instrucciones button.comando:active {
    position: relative;
    top: 1px;
}

/* =================================
    TERMINAL AREA
=================================== */

.console-area {
    display: flex;
    flex-direction: column;
    font-size: .8rem !important;
    height: 300px;
    padding: 10px 20px;
    font-family: 'Source Code Pro', monospace;    
    background-color: hsl(220, 13%, 18%);
    overflow: auto;
    color: #eee;
    font-size: .8rem;
    letter-spacing: .5px !important;
}

.console-area .line-marker {
    color: lightskyblue;
    font-weight: bold;
}

.console-area .current-line {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.console-area > * {
    margin-top: 5px;
    width: 100%;
}

.empty-p {
    height: 18.4px !important;
    content: " ";
}

.error {
    color: #fb8a8a;
}

.success {
    color: #64c53d;
}

.error, .success {
    margin-top: 5px;
    margin-left: 15px;
}

.console-area textarea {
    height: 43.4px;
    overflow: auto;
    font-family: 'Source Code Pro', monospace !important;    
    width: 100%;
    resize: none;
    background-color: transparent;
    /* color: black!important; */
    color: #eee;
    border: none;
    padding: 0 10px 5px 10px;
    line-height: 1.5;    
}

.console-area textarea:focus {
    outline: none;
}

/* =================================
    REPO FOLDER STRUCTURE
=================================== */
#repository {
    font-size: .9rem !important;
    color: #FFF;
}

#repository .header {
    display: flex;
    flex-direction: row;
    height: 11%;
    background-color: #424242;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

#repository .header .title {
    width: 90%;
    font-weight: bold;
    padding: 4px 10px;
    text-align: left;
    user-select: none;
    letter-spacing: 1px;
}

#repository .header .buttons {
    width: 10%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#repository .header .buttons i:hover {
    cursor: pointer;
    color: #ccc;
}

#repository .header .buttons i.close:hover {
    color: #d32f2f;
}

#repository .repo-status {
    height: 89%;
    display: flex;
    flex-direction: row;
}

#repository .repo-status .repo-folder {
    background-color: #3949AB;
    border-bottom-left-radius: 2px;
}

#repository .repo-status .staged {
    background-color: #3F51B5;
}

#repository .repo-status div.commits {
    background-color: #5C6BC0;
    border-bottom-right-radius: 2px;
}

#repository .repo-status .staged,
#repository .repo-status .repo-folder,
#repository .repo-status .commits {
    width: 34%;
    height: 100%;
    min-height: 250px;
    padding: 5px 10px;
    columns: #232323;
    overflow-y: auto;
}

#repository .repo-status ul {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}

#repository ul li > ul {
    margin-top: 0 !important;
    margin-left: 20px !important;
}

#repository .repo-status li {
    width: 100% !important;
    list-style: none;
    color: #EEE;
    user-select: none;
}

#repository .repo-status li::before {
    font-family: FontAwesome;
    margin-right: 10px;
}

#repository  li.folder:hover {
    cursor: pointer;
    opacity: .7;
}

#repository  li.folder::before {
    content: "\f07c";
    color: #795548;
}

/* #repository  li.folder.::before {
    content: "\f07b";
    color: #795548;
} */

#repository li.folder+ li.closed  {
    display: none;
}

#repository li.file::before {
    color: #FF5722;
    content: "\f0f6";
}

#repository li.info::before {
    color: #f44336;
    content: "\f05a";
}

#repository .repo-status li.commit::before {
    font-family: FontAwesome;
    content: "\f113" !important;
}

/* =================================
    FOOTER
=================================== */

footer {
    font-size: .8rem !important;
    padding: 10px;
    background-color: #434343;
    color: #EEE;
}

/* =================================
    ANIMACIONES
=================================== */

.typed {
    white-space: nowrap;
    overflow: hidden;
    animation: type 4s steps(60, end);
}

@keyframes type{ 
    from { width: 0; } 
}