/* =================================
    GENERALES
=================================== */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.only-mobile {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    width: 100vw !important;
    overflow-x: auto;
    overflow-y: visible;
}

body {
    opacity: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #333;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    overflow-x: hidden;
    overflow-y: visible;
}

main {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: #fbfbfb;
    margin-left: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main:after {
    content: " ";
    width: 100%;
    opacity: .9;
    z-index: 9;
    transition: all .2s linear;
    position: absolute;
}

.main-menu.expanded + main:after {
    height: 100vh;
    background-color: #212121;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

#area-practica {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none !important;
}

.red {
    color: #f44336;
}

.green {
    color: #64c53d;
}

.yellow {
    color: yellow;
}

.blue {
    color: #2196F3;
}

.no-json {
    margin-top: 50px;
    text-align: center;
}

/* =================================
    NAVIGATION
=================================== */

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu {
    display: block;
    z-index: 10;
    background: #434343 !important;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    padding-bottom: 40px;
    left: 0;
    width: 59px;
    overflow: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
            transform: translateZ(0) scale(1,1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: none;

    -webkit-transition: width .2s linear;

    transition: width .2s linear;
}

.main-menu.expanded {
    display: block !important;
    width: 330px;
    overflow: visible;
    overflow-y: auto;
}

.main-menu.main-menu.expanded + main {
    background-color: black;
    height: 10vh;
    z-index: 9;
}

a.logo-link {
    display: block;
    background: url('../img/logo-smaller.png') no-repeat center;
    background-size: contain;
    display: block;
    margin: 15px 3px 20px 3px;
    width: 53px;
    height: 53px;
}

.main-menu a.logo-link:link,
.main-menu a.logo-link:hover,
.main-menu a.logo-link:active {
    outline: none;
}

.main-menu.expanded a.logo-link {
    background: url('../img/logo.png') no-repeat center;
    background-size: contain;
    width: 200px !important;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width:330px;
}

.main-menu li > a {
    position: relative;
    color: #ccc;
    font-size: 14px;
    -webkit-transform: translateZ(0) scale(1,1);
            transform: translateZ(0) scale(1,1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.main-menu.main-menu.expanded li:hover > a {
    cursor: pointer;
    color: #FFF;
    background-color: #555;
    padding-left: 5px;
}

.main-menu .nav-text {
    width: 100%;
    position: relative;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 8px 8px 8px 0;
    vertical-align: middle;
}

.main-menu .nav-text::before {
    font-family: FontAwesome;
    height: 100%;
    width: 59px !important;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu .nav-text.completed::before {
    content: "\f00c";
    color: #4CAF50;
}

.main-menu .nav-text.learning::before {
    content: "\f212";
    color: #148FCB;
}

/* =================================
    PROGRESS BAR
=================================== */

#myProgress {
    height: 7px;
    width: 100% !important;
    background-color: #f44336;
    -webkit-box-shadow: 0 0 10px #434343 inset;
            box-shadow: 0 0 10px #434343 inset;
}

#myBar {
    width: 0%;
    height: 100%;
    background-color: #1976D2;
    -webkit-transition: width 1s;
    transition: width 1s;
}

/* =================================
    AREA DE INSTRUCCIONES
=================================== */

#leccion {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

#leccion .column-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    -webkit-transition: width 1s;
    transition: width 1s;
}

#leccion .column-2 {
    width: 30%;
}

#leccion + div {
    padding: 10px;
}

#instrucciones {
    background-color: #FBFBFB;
    color: #434343;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 30px 30px 10px 30px;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1300px;
}

#instrucciones a:link,
#instrucciones a:visited {
    color: #1976D2;
}

#instrucciones > #instruccion {
    padding: 5px 0;
    text-transform: uppercase;
}

.tareas > p {
    padding: 8px 0;
    font-size: 1.1rem;
}

.comando {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    border: none;
    font-size: .9rem;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    background-color: #37474F;
    position: relative;
    color: #eee;
    margin-top: auto;
    width: 100%;
    text-align: left;
}

.comando::before {
    font-family: FontAwesome;
    content: '\f120';
    margin-right: 15px;
}

.comando:hover {
    opacity: .9;
    cursor: pointer;
}

.comando:active {
    position: relative;
    left: 0;
    top: 1px;
}

/* =================================
    TERMINAL AREA
=================================== */

div#terminal {
    padding: 0;
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.console-area {
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .8rem !important;

    padding: 10px 30px;
    font-family: 'Source Code Pro', monospace;
    background-color: hsl(220, 13%, 18%);
    overflow-y: auto;
    overflow-x: hidden;
    color: #eee;
    font-size: .8rem;
    letter-spacing: .5px !important;
}

.console-area .line-marker {
    display: inline-block;
    background-size: contain;
    width: 20px !important;
    height: 20px !important;
    width: 100%;
}

.line-marker + p {
    display: inline-block;
    padding: 0 10px 5px 10px;
    margin: 0 !important;
}

.console-area .line-marker::before {
    background: url('../img/logo-blue.png')
}

.console-area .current-line,
.console-area .line {
    width: 100%;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.console-area .line {
    margin-bottom: 15px;
    min-height: 18.4px;
}

.console-area > * {
    margin-top: 5px;
    width: 100%;
}

.console-area > p {
    min-height: 18.4px !important;
    content: " ";
}

.error {
    color: #fb8a8a;
}

.success {
    color: #64c53d;
}

.error, .success {
    margin-top: 5px;
    margin-left: 15px;
}

.console-area textarea {
    height: 43.4px;
    overflow: auto;
    font-family: 'Source Code Pro', monospace !important;
    width: 100%;
    resize: none;
    background-color: transparent;
    color: #eee;
    border: none;
    padding: 0 10px 5px 10px;
    line-height: 1.5;
}

.console-area textarea:focus {
    outline: none;
}

/* =================================
    REPO FOLDER STRUCTURE
=================================== */
#repository {
    position: relative;
    height: 100%;
    font-size: .9rem !important;
    color: #FFF;
    left: 0;
}

.show-repo {
    outline: none;
    color: #fbfbfb;
    position: absolute;
    top: 7px !important;
    right: 0 !important;
    padding: 3px 20px;
    height: 38.4px;
    width: 50px;
    z-index: 9;
    background-color: #424242;
    border: none;
    font-size: 1.5rem;
}

.show-repo:hover {
    background-color: #555 !important;
    cursor: pointer;
}

#repository .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: #424242;
}

#repository .header i {
    width: 10%;
    padding: 3px 20px;
    font-size: 1.5rem;
}

#repository .header i:hover {
    background-color: #555;
    cursor: pointer;
}

#repository .header .title {
    width: 90%;
    font-weight: bold;
    padding: 5px 15px;
    text-align: left;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

#repository .repo-status {
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.branch {
    color: orangered;
}

#repository .repo-status .staged,
#repository .repo-status .repo-folder,
#repository .repo-status .commits {
    height: 40%;
    width: 100%;
    min-height: 200px;
    padding: 5px 10px;
    color: #434343;
    overflow-y: auto;
    font-size: 1rem;
    background-color: #fbfbfb;
    -webkit-box-shadow: 1px 0 1px 0 #aaa inset;
            box-shadow: 1px 0 1px 0 #aaa inset;
}

#repository .repo-status .commits {
    height: 20%;
}

#repository .repo-status ul {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}

#repository ul li > ul {
    margin-top: 0 !important;
    margin-left: 20px !important;
    margin-bottom: 10px;
}

#repository .repo-status li {
    width: 100% !important;
    margin-top: 2px;
}

#repository .repo-status li::before {
    font-family: FontAwesome;
    margin-right: 6px !important ;
    font-size: 1.3rem;
}

#repository  li.folder:hover {
    cursor: pointer;
    opacity: .7;
}

#repository  li.folder::before {
    content: "\f07c";
    color: #CCB897;
}

#repository li.folder+ li.closed  {
    display: none;
}

#repository li.file::before {
    color: #FF5722;
    content: "\f0f6";
}

#repository li.info::before {
    color: #f44336;
    content: "\f05a";
}

#repository .repo-status li.commit::before {
    font-family: FontAwesome;
    content: "\f113" !important;
    color: #9C27B0;
}

/* =================================
    FOOTER
=================================== */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: .8rem !important;
    padding: 13px;
    background-color: #434343;
    color: #EEE !important;
    z-index: 99;
    height: 45px;
}

footer > p {
    margin-left: 60px;
}

footer a:link,
footer a:visited {
    color: #EEE;
}

footer a:hover {
    font-weight: bold;
}

/* =================================
    ANIMACIONES
=================================== */

.typed {
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 4s steps(60, end);
            animation: type 4s steps(60, end);
}

@-webkit-keyframes type{
    from { width: 0; }
}

@keyframes type{
    from { width: 0; }
}